html, 
body {
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans Regular", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  min-height: 55px;
}

.main-navigation {
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 55px;
}

.main-logo {
  width: 768px;
  height: 500px;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.site-navigation {
  font-family: PT Sans Bold;
  position: relative;
  margin: 0;
  padding: 0;
  width: 768px;
}

.site-navigation li {
  display: inline;
}

.main-navigation a {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
  padding-bottom: 18px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  text-align: center;
	text-decoration: none;
}

.site-navigation li:nth-child(3) {
  margin-left: 120px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.description {
  text-align: center;
}

.description-sedona  {
  font-family: PT Sans Bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
  margin-top: 60px;
  margin-bottom: 35px;
}

.advantage-list h3 {
  font-family: PT Sans Bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantage-list p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.first-reason div,
.second-reason div {
  background-color: #81b3d2;
}

.first-reason {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 258px;
  margin-top: 55px;
}

.first-reason-description,
.second-reason-description {
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 256px;
}

.more-advantages {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.another-reason {
  height: 270px;
  text-align: center;
  margin-top: 60px;
  width: 256px;
}

.another-reason img {
  height: 72px;
}

.another-reason {
  background-image: url("images/another-reason-1.svg") no-repeat;
}

.another-three-reasons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 60px;
}

.second-reason {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 258px;
}

.second-reason div {
  order: 2;
}

.third-reason,
.fourth-reason,
.fifth-reason {
  background-color: #eeeeee;
  height: 256px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 256px;
}

.trip {
  text-align: center;
}

.trip b {
  font-size: 30px;
  line-height: 30px;
}

.trip p {
  line-height: 24px;
}

.button {
  border: none;
  color: #ffffff;
  font-family: PT Sans Bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.trip-search {
  background-color: #766357;
  margin-top: 50px;
  padding: 35px 140px;
}

.trip-search:hover,
.trip-search:focus {
  background-color: #604e43;
}

.trip-search:active {
  background-color: #503e33;
}

.social li {
  display: inline;
  width: 85.3px;
}

.social-button img {
  background-color: #81b3d2;
  height: 20px;
  padding: 15px;
  width: 20px;
}

.footer-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 120px;
}

.footer-social,
.footer-copyright {
  height: 120px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.footer-hashtag,
.footer-copyright {
  width: 256px;
}

.footer-hashtag {
  color: #000000;
  font-family: PT Sans Bold;
  font-size: 21px;
  height: 120px;
  line-height: 21px;
  margin-bottom: 52px;
  margin-top: 52px;
  text-align: center;
  text-transform: uppercase;
}

.footer-social {
  margin-left: 43.625px;
  margin-right: 43.625px;
}

.footer-social li {
  margin-left: 3.5px;
}

.footer-copyright {
  margin-top: 45px;
}

.modal-search {
  border: 3px solid #efefef;
  height: 290px;
  margin-left: 104px;
  margin-right: 104px;
  padding: 55px;
  width: 470px;
}

.modal-search,
.modal-search input[type="text"],
.modal-search input[type="number"] {
  color: #000000;
  font-family: PT Sans Bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-search input[type="text"],
.modal-search input[type="number"] {
  background-color: #f2f2f2;
}

.modal-search input[type="text"]:hover,
.modal-search input[type="number"]:hover {
  background-color: #ebebeb;
}

.modal-search input[type="text"]:focus,
.modal-search input[type="number"]:focus {
  background-color: #ffffff;
}

.trip-find {
  background-color: #81b3d2;
  padding-bottom: 17px;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 17px;
  text-decoration: none;
}

.modal-search-form p:nth-child(4) {
  margin-top: 54px;
}

@font-face {
  font-family: PT Sans Bold;
  src: url("./fonts/ptsansbold.woff2");
}

@font-face {
  font-family: PT Sans Regular;
  src: url("./fonts/ptsans.woff2");
}